p {
   font-size: 1em;
   line-height: 1.421em;
   color: rgba(51, 51, 51, 0.80);
   margin: 0px 0px 1.421em 0px;
   font-family: "Cutive Mono";
   font-weight: 400;
   font-style: normal;
   text-align: center;
   text-rendering: geometricPrecision;
}

h1 {
   font-size: 2.33em;
   line-height: 0.928em;
   text-align: left;
   text-transform: uppercase;
   font-family: Questrial;
   font-weight: 600;
   font-style: normal;
   /*text-rendering: geometricPrecision;*/
}

h2 {
   font-size: 1.16em;
   line-height: 0.931em;
   margin: 0px 0px 0.931em 0px;
   font-family: Questrial;
   font-weight: 300;
   font-style: normal;
   letter-spacing: .5;
   text-rendering: geometricPrecision;
}

h3 {
   font-family: Questrial;
   font-weight: 400;
   font-style: normal;
   text-align: center;
   text-rendering: geometricPrecision;
   line-height: 1.15;

}

h4 {
  font-size: 1.2em;
  line-height: 1.421em;
  margin: 0px 0px 1.421em 0px;
  font-family: "Cutive Mono";
  font-weight: 500;
  font-style: normal;
  text-align: center;
  text-rendering: geometricPrecision;
}

.pure-button { background: #D1DBBD;}
