/********** General styling **********/

body {
    background: #F3F3F3;
    color: #414141;
}

.site-content {
    width: 80vw;
    margin: 12vh auto;
}

a {
  color: #F95D5F;
}

::-moz-selection { background-color: #FBA1A2; }
::selection { background-color: #FBA1A2; }

/********** Headerstyling **********/

header {
    text-align: center;
    border-bottom: 1px solid;
    padding-bottom: 3px;
}

#logocon {
    font-size: 10px;
    color: #F95D5F;
    padding-right: 3px;
    padding-left: 1px;
    /*padding-top: 20px;*/
}

#logocon2{
  font-size: 8px;
  color: #F95D5F;
  /*padding-right: 3px;*/
  padding-left: 3px;
}

.home-button {
  color: #F95D5F;
}

.home-button,
.data-policy-button,
.tools-button,
.contact-button {
  cursor:pointer;
  cursor:hand;
}

h1 {
    font-size: 2.23em;
    color: black;
    line-height: 0.928em;
    text-align: center;
    /*text-transform: uppercase;*/
    font-family: "Cutive Mono";
    font-weight: 500;
    font-style: normal;
    text-rendering: geometricPrecision;
}

h2 {
    display: none;
}


/********** Mobile menu styling **********/

.mobile-menu-button {
    margin: 0;
    padding-top: 1.5em;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.main-nav {
    display: none;
}

.main-nav li {
    margin: .35em 0;
    font-family: "Cutive Mono";
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 300;
}


/********** Main Content styling **********/

.data-policy-content,
.tools-content,
.contact-content {
    display: none;
}

p {
    font-size: 1.05em;
    line-height: 1.421em;
    /*color: rgba(51, 51, 51, 0.80);*/
    /*color: #FCFFF5;*/
    margin: 1.421em 0px;
    font-family: "Cutive Mono";
    font-weight: 200;
    font-style: normal;
    text-align: center;
    text-rendering: geometricPrecision;
}

h3 {
    font-family: "Cutive Mono";
    font-weight: 200;
    font-style: normal;
    text-align: center;
    text-rendering: geometricPrecision;
    line-height: 1.15;
}

h4 {
    display: block;
    font-size: 1.35em;
    line-height: 1.421em;
    margin: 1.421em 0px;
    font-family: "Cutive Mono";
    font-weight: 200;
    font-style: normal;
    text-align: center;
    text-rendering: geometricPrecision;
}


.tools-list li {
    margin: .4em 0;
}


/********** data policy styling **********/

.data-policy-content p,
.data-policy-content h4 {
    text-align: left;
}


/********** Email form on contact content styling **********/

.pure-input-1-2,
.pure-form input[type=email] {
    width: 75vw !important;
    margin: .3em auto !important;
    color: #3e606f;
}

.pure-form {
    text-align: center;
}

.pure-form .pure-button {
    width: 30vw;
    text-transform: uppercase;
}

.pure-button {
    /*background: #d1dbbd;*/
    background: #414141;
    margin: .5em 0px;
    /*color: #3e606f;*/
    color: #F3F3F3;
    font-weight: 300;
}


/********** Footer/icons styling **********/

footer {
    display: flex;
    justify-content: center;
    border-top: 1px solid;
}

#icon {
    font-size: 38px;
    color: #FA8182;
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 20px;
}

#icon:hover{
  color: #F95D5F;
}


/********** Mobile break width: further styling for tablet/desktop **********/

@media all and (min-width: 600px) {
    /********** Header Styling DT **********/
    header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 2.7em;
    }
    h1 {
        margin: 0;
    }
    h2 {
        display: block;
        font-size: 1.06em;
        line-height: 0.931em;
        margin: 0;
        font-family: "Cutive Mono";
        font-weight: 200;
        font-style: normal;
        letter-spacing: .5;
        text-rendering: geometricPrecision;
    }
    /********** Menu Styling DT **********/
    .mobile-menu-button {
        display: none;
    }
    .main-nav {
        display: flex;
        flex-flow: column;
        text-align: left;
    }

    /********** Home content Styling DT **********/
    .desktop-instructions {
        display: block;
        width: 27em;
        margin: 0 auto;
        transform: translateY(-15px);
    }
    .home-content p {
        width: 20em;
        margin: 2em auto;
        padding-bottom: 50px;
    }

    /********** Contact content Styling DT **********/
    .contact-content h4 {
        width: 45vw;
        margin: 0 auto;
    }
    .pure-input-1-2,
    .pure-form input[type=email] {
        width: 45vw !important;
        margin: .5em auto !important;
    }
    .pure-input-1-2 {
        height: 7em;
    }
    .pure-form .pure-button {
        width: 15vw;
    }
    /********** Footer Styling DT **********/
    footer {
        justify-content: space-between;
        margin-top: 2em;
    }
}
