<html>

<head>
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Questrial|Cutive%20Mono">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='home.css') }}">

    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css"
          integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD"
          crossorigin="anonymous">

  </head>

<body>

  <h1><center>Smartr.Email</center></h1><br>
  <p>Data Policy<br>Similar Tools<br>Contact</p><br>
  <h4>Analyze your Gmail data and learn about your emailing habits.</h4>

  <br><br>
  <center>
    <h2><style>.blue-button {background: #3E606F;}</style>
    <a class="blue-button pure-button" href="/authorize">AUTHORIZE</a>
    </h2>
  </center>
  <br><br>
  <p>We don't store your emails after completing the analysis.</p>

</body>
</html>
