<html>

<head>
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto|Cutive%20Mono">
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='normalize.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='home.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="../static/gatrack.js "></script>

</head>

<body>
    <main class="site-content">
        <header>
            <h1>Smartr<i class="fa fa-plus" id="logocon" aria-hidden="true"></i>Email</h1>
            <h2>The personal email analyzr.</h2>
        </header>
        <p class="mobile-menu-button">--menu--</p>
        <ul class="main-nav">
            <li class="home-button">Home</li>
            <li class="data-policy-button">Data Policy</li>
            <li class="tools-button">Similar Tools</li>
            <li class="contact-button">Contact</li>
        </ul>
        <section class="individual-page-content">
            <div class="results-content">

            <style>
                /*THIS IS HERE FOR NOW TO AVOID HAVING TO USE
            STREAM_WITH_CONTEXT WHEN RENDERING THIS TEMPLATE*/

                #data {
                    text-align: center;
                }

                p {
                    font-size: 1.05em;
                    line-height: 1.421em;
                    /*color: rgba(51, 51, 51, 0.80);*/
                    /*color: #FCFFF5;*/
                    margin: 1.421em 0px;
                    font-family: "Cutive Mono";
                    font-weight: 200;
                    font-style: normal;
                    text-align: center;
                    text-rendering: geometricPrecision;
                }

                .loader {
                    border: 16px solid #f3f3f3;
                    /* Light grey */
                    border-top: 16px solid #FA8182;
                    /* Dark blue */
                    border-radius: 50%;
                    width: 120px;
                    height: 120px;
                    animation: spin 2s linear infinite;
                }

                @keyframes spin {
                    0% {
                        transform: rotate(0deg);
                    }
                    100% {
                        transform: rotate(360deg);
                    }
                }
            </style>

            <div class="loader"></div>
            <div id="data">
                <p>Loading... This may take a while, up to 1 minute.</p>
            </div>

            {% for i in data: %}
            <script>
                function prepData(encodedString) {
                    // Decodes a string encoded as htmlspecialchars, which our data is.
                    var textArea = document.createElement('textarea');
                    textArea.innerHTML = encodedString;
                    return JSON.parse(textArea.value);
                }

                function lazyPrep(crazyString) {
                    // The substring u&#39 happens bc a utf-8 encoded string gets encoded as html
                    console.log(crazyString);
                    r = crazyString.replace(/u&#39;/g, '"');
                    return JSON.parse(r.replace(/&#39;/g, '"'));
                }

                $(".loader").hide();
                var a = prepData("{{ i[0] }}");
                var b = lazyPrep("{{ i[1] }}");

                function makeOrdinal(floatingPoint) {
                    var i = Math.round(floatingPoint);

                    var j = i % 10,
                        k = i % 100;
                    if (j == 1 && k != 11) {
                        return i + "st";
                    }
                    if (j == 2 && k != 12) {
                        return i + "nd";
                    }
                    if (j == 3 && k != 13) {
                        return i + "rd";
                    }
                    return i + "th";
                };

                function oneDecimal(floatingPoint) {
                    return Math.round(floatingPoint * 10) / 10
                }
                var numberOfEmails = "<p class='numberOfEmails'>Number of your emails that we analyzed: " + a['emails_analyzed'] + "</p>";
                var readingLevel = "<p class='readingLevel'>Average reading level of your emails: " + makeOrdinal(a['my_combined_grade_lvl_mean']) + "grade.</p>";
                var numberOfSentences = "<p class='numberOfSentences'>Avg email length in sentences: " + oneDecimal(a['sentence_count_mean']) + "</p>";
                var numberOfPeopleAnalyzed = "<p class='numberOfPeopleAnalyzed'>Number of people whose emails we've analyzed: " + b['n'] + "</p>";
                var avgSentenceCount = "<p class='avgSentenceCount'>Avg sent count across all those: " + oneDecimal(b['avg_sentences']) + "</p>";
                var avgReadingLevel = " <p class='avgReadingLevel'>Avg grade level across all those: " + oneDecimal(b['avg_grade_lvl']) + "</p>";
                var moreMetrics = "<p class='moreMetrics'>More metrics + complete page content coming soon.</p>"

                $("#data").html(numberOfEmails + readingLevel + numberOfSentences + numberOfPeopleAnalyzed +
                    avgSentenceCount + avgReadingLevel + moreMetrics);
            </script>
            {% endfor %}

            <div id='sentCountsComparison'></div>

            <script>
                var data = [{
                    type: 'bar',
                    x: [a['sentence_count_mean'], b['avg_sentences']],
                    y: ['You', 'Everyone'],
                    orientation: 'h',
                    marker: {
                        color: ['rgba(249,93,95,1)', 'rgba(249,93,95,1)']
                    }
                }];

                var layout = {
                    yaxis: {
                        showgrid: false
                    },
                    xaxis: {
                        showgrid: false
                    },
                    title: 'Your email length compared to the average length, in sentences:',
                    hovermode: !1,
                    font: {
                        size: 14,
                        color: 'rgba(51,51,51,0.8)',
                        family: "Cutive Mono"
                    }
                }

                Plotly.newPlot('sentCountsComparison', data, layout, {
                    displayModeBar: false
                });
            </script>

            <div id='sentCountsHist'></div>
            <script>
                // This script plots the sentence counts histogram in the sentCountsHist div

                var binsDict = {
                    '1 - 2 sentences': 0,
                    '3 - 5 sentences': 0,
                    '6 - 10 sentences': 0,
                    '11+ sentences': 0
                };

                var values = a['sentence_counts'];

                // Build counts for histogram:
                for (i = 0; i < values.length; i++) {
                    var v = values[i];
                    if (v <= 2) {
                        binsDict['1 - 2 sentences']++;
                    } else if (v > 2 && v <= 5) {
                        binsDict['3 - 5 sentences']++;
                    } else if (v > 5 && v <= 10) {
                        binsDict['6 - 10 sentences']++;
                    } else {
                        binsDict['11+ sentences']++;
                    }
                };

                var data = [{
                    x: ['1 - 2', '3 - 5', '6 - 10', '11+'],
                    y: [binsDict['1 - 2 sentences'], binsDict['3 - 5 sentences'],
                        binsDict['6 - 10 sentences'], binsDict['11+ sentences']
                    ],
                    marker: {
                        color: ['rgba(249,93,95,1)', 'rgba(250,129,130,1)', 'rgba(251,161,162,1)', 'rgba(65,65,65,1)']
                    },
                    type: 'bar'
                }];

                var layout = {
                    yaxis: {
                        showgrid: false,
                        title: "Number of emails"
                    },
                    xaxis: {
                        showgrid: false,
                        title: "Sentences"
                    },
                    title: 'Email Body Length in Sentences:',
                    hovermode: !1,
                    font: {
                        size: 14,
                        color: 'rgba(51,51,51,0.8)',
                        family: "Cutive Mono"
                    }
                };

                Plotly.newPlot('sentCountsHist', data, layout, {
                    displayModeBar: false
                });
            </script>
            
            </div>
            <div class="data-policy-content">
                <p>To use this tool, you'll be asked to give us read-only access to your Gmail inbox. Our program will then download some of your emails and analyze them. We store your messages only for the amount of time that it takes to analyze them--
                    usually just a few seconds. We never put your emails into persistent storage, and all processing is done on a secure server. No human ever reads your emails.
                    <br><br>We do store the results of your analysis. This allows us to have some idea about what is “normal” emailing behavior for each of the metrics that we collect about your messages. We store this data in completely anonymous format,
                    without any identifying information. We’re just interested in answering questions like “what’s the average outbound email sentence length?” and “what are the most common sign-off lines that people use?”<br><br>If you have any questions,
                    please get in touch!</p>
            </div><br>
            <div class="tools-content">
                <h4>Ther're other awesome email analysis tools out there.</h4>
                <ul class="tools-list">
                    <li>
                        <a href="https://chrome.google.com/webstore/detail/graph-your-inbox/lghnjmocfihonjdijomigppjlpdgdeji">
                            <p>Graph your inbox</p>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.gmailmeter.com/">
                            <p>Gmail meter</p>
                        </a>
                    </li>
                    <li>
                        <a href="https://immersion.media.mit.edu">
                            <p>Awesome tool from MIT</p>
                        </a>
                    </li>
                    <li>
                        <p>For the more technical: <a href="https://github.com/mihaip/mail-trends">a python tool</a></p>
                    </li>
                    <li>
                        <a href="http://www.wolframalpha.com/pro/">
                            <p>Wolfram Alfa includes email analysis</p>
                        </a>
                    </li>
                    <br>
                </ul>
            </div>
            <div class="contact-content">
                <h4>Send feature ideas, questions + feedback. We’ll get back to you soon.<br><br></h4>
                <form class="pure-form pure-form-stacked">
                    <input id="email" type="email" placeholder="Your email" required>
                    <textarea class="pure-input-1-2" placeholder="Message"></textarea>
                    <button type="submit" class="pure-button pure-button-primary" action="mailto:altshteyn@gmail.com"><p class="send-button">Send</p></button>
                    <br><br><br>
                </form>

            </div>
        </section>
        <footer>
            <div>
                <a href="https://www.facebook.com/sharer/sharer.php?u=www.smartr.email"><i class="fa fa-facebook" id="icon"></i></a>
                <a href="https://twitter.com/home?status=www.smartr.email"><i class="fa fa-twitter" id="icon"></i></a>
                <a href="https://github.com/ilyaaltshteyn/SmarterEmail"><i class="fa fa-github" id="icon"></i></a>
            </div>
            <div>
                <p id="cookiesMsg">We use cookies, sry.</p>
            </div>

        </footer>

    </main>
    <!--loading jQuery and main JS file at the end for performance-->
    <script src=" https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js "></script>
    <script src="../static/main.js "></script>
</body>

</html>
